p {
	margin: 0;
}

div .div1 {
	display: flex;
	justify-content: space-between;
}

header {
	text-align: center;
}
img.headerpic {
	object-fit: contain;
	width: 85%;
}

nav.navbar.navbar-light.bg-light.navbartop {
	padding: 50px;
}

img.logoimg {
	width: 150px;
	height: 85px;
}

img.logoizq {
	width: 10%;
}

body > nav.navbar.navbar-light.bg-light.navbartop > a.contacticon {
	color: peru;
}

#navbarSupportedContent > form > button {
	border-color: peru;
	color: peru;
}

#navbarSupportedContent > form > button:hover {
	background-color: peru;
	color: whitesmoke;
}

button.btn {
	border-color: peru;
}
button.btn:hover {
	background-color: whitesmoke;
	color: peru;
	border-color: peru;
}

main {
	margin-top: 3rem;
	margin-left: 2rem;
	margin-right: 2rem;
	text-align: justify;
}

.box {
	display: flex;
	/* margin: 200px; */
	justify-content: space-around;
}
.boxc {
	display: flex;
	/* margin: 200px; */
	flex-direction: column;
	width: 40%;
}
.boxinside {
	display: flex;
	justify-content: space-around;
}

table.tablebotop {
	width: 35%;
}

#senate-data > tr > td > span {
	text-justify: center;
}

#senate-data > tr > td {
	width: max-content;
	justify-content: center;
}

#senate-data {
	justify-content: center;
}

#senate-data > tr > td.errorms {
	text-align: center;
}

#loading {
	display: block;

	z-index: 100;
	width: 100vw;
	height: 100vh;
	/* background-color: rgba(91, 123, 192, 0.5);
	background-image: url()
 
	background-repeat: no-repeat;
	background-position: center;
	*/
}
.page {
	display: none;
	padding: 0 0.5em;
}
.page h1 {
	font-size: 2em;
	line-height: 1em;
	margin-top: 1.1em;
	font-weight: bold;
}
.page p {
	font-size: 1.5em;
	line-height: 1.275em;
	margin-top: 0.15em;
}

.filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 4px;
}
body > main > p:nth-child(6) > button {
	background-color: peru;
}

th {
	text-align: left;
}

body > main > div:nth-child(3) > table:nth-child(2) > thead > tr > th:nth-child(2),
body > main > div:nth-child(3) > table:nth-child(1) > thead > tr > th:nth-child(2) {
	width: 172px;
}

body > main > div:nth-child(3) > table:nth-child(1) > thead > tr > th:nth-child(3),
body > main > div:nth-child(3) > table:nth-child(2) > thead > tr > th:nth-child(3) {
	width: 95px;
}

.filters > h6:nth-child(2) {
	margin-right: 40px;
}

.filters > div:nth-child(3) {
	margin-left: 0rem;
	margin-right: 2rem;
}

.filters {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* SHOW MORE SHOW LESS */
#team {
	background: #fff;
	padding: 20px;
	font-family: Sans-Serif;
	font-size: 18px;
	color: #444;
	margin: 0 auto;

	max-height: 180px;
	overflow: hidden;

	/* Set Transitions */
	transition: max-height 0.7s;
}

#team.open {
	max-height: 1000px;

	/* Set transitions */
	transition: max-height 0.7s;
}

#team_show-more {
	width: 20%;

	font-family: sans-serif;
	display: block;
	cursor: pointer;
	text-align: center;
	padding: 15px;
	margin: 10px auto;
	border: 2px solid peru;
	border-radius: 5px;
	background-color: whitesmoke;
	color: peru;
}

#team_show-more:hover {
	border-radius: 5px;
	background: peru;
	color: #fff;
}
